[project]
	description = gtk applet for eaily ssh'ing to remote servers
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Guy Matz (guymatz)
[access "refs/for/refs/*"]
	read = group user/Guy Matz (guymatz)
	push = group user/Guy Matz (guymatz)
	label-Code-Review = -2..+2 group user/Guy Matz (guymatz)
	label-Verified = -1..+1 group user/Guy Matz (guymatz)
	rebase = group user/Guy Matz (guymatz)
	removeReviewer = group user/Guy Matz (guymatz)
	submit = group user/Guy Matz (guymatz)
[access "refs/heads/*"]
	read = group user/Guy Matz (guymatz)
	create = group user/Guy Matz (guymatz)
	push = +force group user/Guy Matz (guymatz)
	pushMerge = group user/Guy Matz (guymatz)
[access "refs/tags/*"]
	push = +force group user/Guy Matz (guymatz)
	pushTag = group user/Guy Matz (guymatz)
	pushSignedTag = group user/Guy Matz (guymatz)
